body {
	font-size: 12px;
	font-family: Verdana;
	background-color:  #FFFFFF;
	text-align: center; 
	margin: 0;
	padding: 0;
}
#top {
	
	margin: 0 auto;
	width: 1000px;
}

#BODY {
	background-color: #FFCC33;
	text-align: left;
	margin: 0 10px;
	width: 1000px;
}
#LOGO {
	font-size: 36px;
	font-family: Verdana;
	color: #000000;
    background:url(images/logo.jpeg);
	width:1000px;
	height:400px;
	margin-top:10px;
}


#MENU {
	font-size: 16px;
	font-family: Verdana;
	color: #000033;
	background-color: #FF6633 ;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	text-align: center;
}
#MENU ol {
        list-style-type:none;
        padding:0 100px;
        margin:0;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
      }
#MENU ol a {
        display:block;
        text-decoration:none;
        color:#000;
        padding:0 5px;
      }
#MENU ol > li {
        float:LEFT;
        width:150px;
        margin-left:1px;
        background-color:#FDD700;
        height:2em;
      }
#MENU ol > li:first-child {
        margin-left:5px;
      }
#MENU ol > li:hover {
        background-color:#FFFF66;
      }

   
#MENU ol > li:hover > a {
        color:#09C;
      }

      
#MENU ol > li:hover > ul {
        display:block;
      }


#MENU ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

#MENU ol > li > ul > li {
        position:relative;
        background-color:#FFFF66;
      }

#MENU ol > li > ul > li > a {
        border-top:1px solid #FFF;
      }

#MENU ol > li > ul > li:hover {
        background-color:#FFCC66;
      }
     
#MENU ol > li > ul > li:hover > a {
        color:#09C;
      }

#TRESC {
	width: 800px;
	overflow: hidden;
	margin-left: 100px;
	float: left;
}
#TRESC .ZAWARTOSC {
	font-size: 12px;
	font-family: Verdana;
	color: #000000;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
#STOPKA {
	font-size: 11px;
	font-family: Verdana;
	color: #000000;
	background-color: #FF6633;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	text-align: center;
	clear: both;
}
